{config_load file="$language/lang_$language.conf" section="password_forgotten"} 
<h2 class="pageheader">{#heading_password#}</h2>
<br> 
<br>
  {$FORM_ACTION} {if $error} <div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#text_error#}<br><br></font> 
  {/if} </div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main"><p align="center">{#text_email#} {$INPUT_EMAIL}</p>
      <p align="right"><br>
        {$BUTTON_SUBMIT} </p></td>
  </tr>
</table>
</form>

